@charset "UTF-8";

.table_cont {
  width:100%;
  border-collapse: collapse; 
  overflow: hidden;
}

.thtd{
  border: 1px solid rgb(190, 190, 190);
  border-left: none; 
}

.td {
  text-align: center;
}

.table_container{
  border:1px solid #dcdcdc;
  width: 100%;
  margin-top: 10px;
}
.table_header{
  margin-top: 10px;
  margin-bottom: 10px;
}
.tbody{
  border-bottom: 3px solid black;
}
 


.arrow {
  border: solid rgb(190, 190, 190);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}



 


 