<nutrition-Table class="container_performance-facts" data-id="{{ block.id }}">
  {%- if block.settings.heading -%}
    <h1>{{ block.settings.heading }}</h1>
  {%- endif -%}

  {%- if block.settings.description -%}
    <p>{{ block.settings.description }}</p>
  {%- endif -%}
  {% if block.settings.vertical_alignment == "germanStyleTable" %}

  <section class="performance-facts">
    <header class="performance-facts__header">
      <div class="performance-facts__header_title">
        <h1 class="performance-facts__title">Nutrition Facts</h1>
      </div>
      <hr style="margin:0"/>
        <h4>6 serving per container</h4>
        <div class="performance-facts_secondaryHeader" >
          <h3 style="margin:0; font-weight: bold;">Serving size </h3>
          <h3 style="margin:0; font-weight: bold;">1 cup (230g) </h3>
        </div>
    </header>
    <table class="performance-facts__table">
      <thead>
        <tr>
          <th colspan="3" class="small-info">
            Amount Per Serving
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th colspan="2">
            <b>Calories</b>
            200
          </th>
          <td>
            Calories from Fat
            130
          </td>
        </tr>
        <tr class="thick-row">
          <td colspan="3" class="small-info">
            <b>% Daily Value*</b>
          </td>
        </tr>
        <tr>
          <th colspan="2">
            <b>Total Fat</b>
            14g
          </th>
          <td>
            <b>22%</b>
          </td>
        </tr>
        <tr>
          <td class="blank-cell">
          </td>
          <th>
            Saturated Fat
            9g
          </th>
          <td>
            <b>22%</b>
          </td>
        </tr>
        <tr>
          <td class="blank-cell">
          </td>
          <th>
            Trans Fat
            0g
          </th>
          <td>
          </td>
        </tr>
        <tr>
          <th colspan="2">
            <b>Cholesterol</b>
            55mg
          </th>
          <td>
            <b>18%</b>
          </td>
        </tr>
        <tr>
          <th colspan="2">
            <b>Sodium</b>
            40mg
          </th>
          <td>
            <b>2%</b>
          </td>
        </tr>
        <tr>
          <th colspan="2">
            <b>Total Carbohydrate</b>
            17g
          </th>
          <td>
            <b>6%</b>
          </td>
        </tr>
        <tr>
          <td class="blank-cell">
          </td>
          <th>
            Dietary Fiber
            1g
          </th>
          <td>
            <b>4%</b>
          </td>
        </tr>
        <tr>
          <td class="blank-cell">
          </td>
          <th>
            Sugars
            14g
          </th>
          <td>
          </td>
        </tr>
        <tr class="thick-end">
          <th colspan="2">
            <b>Protein</b>
            3g
          </th>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="performance-facts__table--grid">
      <tbody>
        <tr>
          <td colspan="2">
            Vitamin A
            10%
          </td>
          <td>
            Vitamin C
            0%
          </td>
        </tr>
        <tr class="thin-end">
          <td colspan="2">
            Calcium
            10%
          </td>
          <td>
            Iron
            6%
          </td>
        </tr>
      </tbody>
    </table>
    <p class="small-info">*The % Daily Value (DV) tells you how much a nutrient in a serving of food contributes to a daily diet. 2,000 calories a day is used for general nutrition advice.</p>
  </section>
  {% elsif block.settings.vertical_alignment == "AmericanStyleTable"  %}
  <section>
    <h1>
      Hello again!!
    </h1>
  </section>
{% endif %}
  



</nutrition-Table>

{% schema %}
  {
    "name": "Nutrition Table",
    "target": "section",
    "stylesheet": "germanStyleTable.css",
    "javascript": "nutritionTable.js",
    "templates": ["product"],
    "settings": 
    [
      {
      "type": "header",
      "content": "Label Block",
      },
      {
        "type": "checkbox",
        "id": "checkbox1",
        "label": "Open accordion by default",
        "default": false,
      },
      {
        "type": "checkbox",
        "id": "checkBox2",
        "label": "Use custom width",
        "default": false,
      },
      {
        "type": "select",
        "id": "vertical_alignment",
        "label": "Align",
        "options": [
          {
            "value": "left",
            "label": "Left",
          },
          {
            "value": "center",
            "label": "Center",
          },
          {
            "value": "right",
            "label": "Right",
          }
        ],
        "default": "center",
      },
      {
        "type": "range",
        "id": "width",
        "min": 12,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "Width",
        "default": 30,
      },
      {
        "type": "header",
        "content": "MAIN TABLE",
      },
      {
        "type": "paragraph",
        "content": "These settings affect the main table or section.",
      },
      {
        "type": "checkbox",
        "id": "checkbox3",
        "label": "Show Border",
        "default": false,
      },
      {
        "type": "color",
        "id": "primaryBorder",
        "label": "Primary Border color",
        "default": "#CECECE",
      },
      {
        "type": "color",
        "id": "secondaryBorder",
        "label": "Secondary Border color",
        "default": "#222222",
      },
      {
        "type": "range",
        "id": "primaryBorderThickness",
        "min": -1,
        "max": 1,
        "step": 1,
        "unit": "px",
        "label": "Primary Border Thickness",
        "default": 1,
      },
      {
        "type": "range",
        "id": "secondaryBorderThickness",
        "min": -2,
        "max": 2,
        "step": 1,
        "unit": "px",
        "label": "Secondary Border Thickness",
        "default": 2,
      },
      {
        "type": "range",
        "id": "borderRadius",
        "min": -1,
        "max": 1,
        "step": 1,
        "unit": "px",
        "label": "Border Radius",
        "default": 1,
      },
    ],
  }
{% endschema %}