@charset "UTF-8";



.table_cont {
  width:100%;
  border-collapse: collapse;
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: .8rem;
  margin-top: 10px;
}

.thtd{
  border: 1px solid rgb(190, 190, 190);
  border-left: none;
  padding: 5px 10px;
}

.td {
  text-align: center;
}
.thead{
  border-bottom: 3px solid black;
}
.table_container{
  border:1px solid #dcdcdc;
  width: 100%;
  margin-top: 10px;
}
.table_header{
  margin-top: 10px;
  margin-bottom: 10px;
}
.tbody{
  border-bottom: 3px solid black;
}
 


.arrow {
  border: solid rgb(190, 190, 190);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}